<p>Requests twig template!</p>
<a href="{{ path('zendesk_connect.request.new') }}">Create a ticket</a>
<br>
<ul class="requests-list">
    {% for request in requests.requests %}
      <a href="{{ path('zendesk_connect.request.new', { id: request.id }) }}">
        <li>{{ request.subject|e }}</li>
      </a>
    {% endfor %}
</ul>
